body{
    text-align: center;
    overflow: hidden;
    background-color: #65d6ce;
}

.game-over {
    background-color: red;
    opacity: 0.8;
}


.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}

.gameDirections {
    font-size: 3em;
    font-family: 'Bangers', cursive;
    letter-spacing: 5px;
    color: #ffe9d6;
    text-shadow: 2px 2px black;
}

.simon-board{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: black;  
    position: relative;
    margin: 0 auto;
    z-index: 1;
}

.simon-board-center{   
    width: 300px;
    height: 300px;
    border-style: ridge;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

#simon-text {
    font-family: 'Nova Flat', cursive;
    color: white;
    font-size: 4em;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;

}

.button {
    border-radius: 10px 160px 10px 100px ;
    width: 200px;
    height: 200px;
    position: absolute;
    border: 10px solid black;
    border-radius: 20%;
}

.red {
    background-color: red;
    top: 0;
    right: 0;
}

.blue {
    background-color: blue;
    top: 0;
    left: 0;
}

.yellow {
    background-color: yellow;
    bottom: 0;
    left: 0;
}

.green {
    background-color: green;
    bottom: 0;
    right: 0;
}
/*.simon-board-placement {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
*/